action:
  - name: write-logs
    on: [all]
    run: echo $(date) $WEV_EVENT $WEV_PATH >>log.txt
  - name: post-libresonic-rescan
    on: [all]
    # 15s after latest file change, access to Subsonic API
    interval: 15s
    interval_action:
      - on: ['all']
        do: cancel
    run: curl 'http://subsonic-server:4040/rest/startScan?u=user&t=token&s=salt&v=1.15.0&c=watchevent-curl'


log:
  level: "info"
  encoding: "console"
  #encoding: "json"
  encoderConfig:
    messageKey: "msg"
    levelKey: "level"
    timeKey: "time"
    nameKey: "name"
    callerKey: "caller"
    stacktraceKey: "stacktrace"
    levelEncoder: "capital"
    timeEncoder: "iso8601"
    durationEncoder: "string"
    callerEncoder: "short"
  outputPaths:
    - "stdout"
  errorOutputPaths:
    - "stderr"
